<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1 style="display:inline;color: black;border: 2px solid powderblue;padding: 1px"> System Login</h1>
    <p><button type="button"><a href="{% url 'overview' %}">Startseite</a></button></p>
    <form

          method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"
                style="width: 50px; height: 30px;margin-left: 85px "
                            >Login</button>

    </form>
</body>
</html>