{% extends 'base.html' %}

    <title>{% block title %}Login - One Kitchen{% endblock %}</title>



{% block content %}
    <h1>Deine Zugangsdaten</h1>
    <form

          method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div style="margin-bottom:10px">
        <button class="button" type="submit">Login</button>
        </div>
        <div>
        <button style="font-size:10px;padding: 10px 22px;"class="buttongray button" href="{% url 'register_url' %}">Du brauchst ein Konto?</button>
        </div>
    </form>
{% endblock %}

{% block add_scripts %}
  {% endblock %}

