<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for recipe in recipes %}

    <li style="font-size: 50px; font-style:italic;font-weight: bold">{{ recipe.title }} </li><br>
    <p>
        <img src= "{{ recipe.image.url}}">
    </p>
    <p>
        {{ recipe.ingr }}
    </p>
    <p>
        {{ recipe.instr }}
        <hr style="height:4px;color:black;background-color:black">
    </p>
        {{ recipe.author }}
{% endfor %}
</body>
</html>