<style>
    .search_function{
        visibility: hidden;
    }
    h1{
        color: Black;
        font-family: "Nunito";
        font-size: 32px;
        font-weight: 400;
        margin-top: 5%;
    }
    label{
        font-family: "Nunito";
        font-size: 20px;
        font-weight: 600;
    }
    .password_container{
        margin-top: 2%;
    }
    #id_old_password, #id_new_password1, #id_new_password2{
        padding: 5px;
        border: 2px solid rgb(239,184,147);
        border-radius: 24px 24px 24px 24px ;
        width: 300px;
    }
     li{
         list-style: none;
         font-family: "Nunito";
         font-size: 20px;
    }
    .password_btn{
        width: 100px;
        height: 35px;
        background-color: rgb(255,245,238);
        border: 2px solid rgb(239,184,147);
        border-radius: 10%;
        margin-left: 7%;
        font-family: "Nunito";
        font-size: 16px;
    }
</style>

{% extends 'base.html' %}
{% block title %}Passwort ändern - One Kitchen{% endblock %}

{% block content %}
    <h1>Passwort ändern</h1>
    <div class="password_container"></div>
    <form method="POST">
        {% csrf_token %}
    {{ form.as_p }}
    </div>
      <br><br>
      <button class="password_btn"type="submit" id="reset">Update!</button>
    </div>
    </form>

{% endblock %}