<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ recipe.title }}</title>
    <style>

      @font-face { font-family: "OP"; src: url("../static/OP.ttf")}

        body{
            background-color: antiquewhite;
            text-align: center;
        }

    </style>
</head>
<body>
<p><button type="button"><a href="{% url 'overview' %}">Startseite</a></button></p>
<p style="font-size: 35px;font-family:Verdana">{{ recipe.title }}</p>
<li style="alignment: center;font-size: 12px;margin-top: -30px; margin-bottom: 130px">von {{ recipe.author }}</li>
<p style="margin-bottom: 60px"> <img src= "{{ recipe.image.url}}"></p>
<p style="margin-bottom: 60px"> {{ recipe.ingr }}</p>
<p> {{ recipe.instr }}</p>      <!--- einziger weg um die felder abzurufen? .label dranhängen für feldbeschreibung?--->
<p><button type="button"><a href = '#' >Zu Favoriten hinzufügen</a> </button></p>

<ul>
<hr style="width:40%;height:4px;color:black;background-color:black">
<p style="font-size: 35px;font-family:Verdana">
Kommentare
</p>
<hr style="width:40%;height:4px;color:black;background-color:black">
{% for comment in comments %}
    {% if comment.recipe == recipe %}    <!-- das recipe in comment ist kein string/name sondern das model von recipe -->
        <ul style="border:3px; border-style:solid; border-color:black; padding: 1em;">
           <strong>{{ comment.author }}</strong>  ||| {{ comment.created }}
        <hr style="width: 20%; border-style: dotted none none; border-width: 3px; border-color: mediumpurple;">
        <li style="list-style-type:none">
        {{ comment.body }}
        </li>
        </ul>
    {% endif %}
{% endfor %}

</ul>

{%  if user.is_authenticated %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% for field in form %}
    {% if field.name == 'author' %}
        {{ field.as_hidden }}
     {% else %}
                                          <!--- alle felder werden angezeigt außer author(wird automatisch gespeichert) --->
        <p style="font-size: 15px;font-weight: bold">
               Dein Kommentar:
        </p>
                {{ field }}



     {% endif %}
    {% endfor %}
    <p><button type="submit">Kommentar hochladen</button></p>
    {% endif %}

</form>

</body>
</html>