{% extends 'base.html' %}
    {% block title %}Rezept bearbeiten - One Kitchen{% endblock %}
{% block content %}
    <h1 style="margin-top:40px">{{ recipe.title }} bearbeiten</h1>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p style="font-size: 20px;font-weight: bold;margin-top:20px">
       Ersteller: {{ user.username }}

    </p>
 <div style="">
     <div style="background-color: #E5D9C9;width: 430px;display: inline-block;border: 1px solid black;margin-right:-5px">
        <p>
            <ul>Rezepttitel</ul>
            <ul>{{ form.title }}</ul>
        </p>
        <p style="border: 1px solid black;">
            <ul style="">Zutaten</ul>
            <ul>{{ form.ingr }}</ul>
        </p>
        <p style="border: 1px solid black;">
            <ul>Zubereitung</ul>
            <ul>{{ form.instr }}</ul>
        </p>
        <p style="border: 1px solid black;">
            <ul>Dauer in Minuten</ul>
            <ul>{{ form.dauer }}</ul>
        </p>
     </div>
     <div style="background-color: #E5D9C9;width: 430px;display: inline-block;border: 1px solid black;">
        <p  style="margin-top:35px">
            <ul style="">Eine oder mehrere Kategorien wählen(ctrl click)</ul>
            <ul>{{ form.kategorien }}</ul>
        </p>
        <p style="border: 1px solid black">
            <ul>Thema ändern</ul>
            <ul>{{ form.thema }}</ul>
        </p>
        <p style="border: 1px solid black">
            <ul>Ein oder mehrere Tags wählen(ctrl click)</ul>
            <ul>{{ form.tags }}</ul>
        </p>
        <p style="">
            <ul>Dein Tag ist nicht dabei?</ul>
            <ul>Füge es hier hinzu</ul>
        </p>
        <p style="border: 1px solid black">
            <ul>Schwierigkeit ändern(ctrl click)</ul>
            <ul>{{ form.schwierigkeit }}</ul>
        </p>
        <p style="border: 1px solid black;">
            <ul>Bild ändern</ul>
            <ul>{{ form.image }}</ul>
        </p>
    </div>

 </div>


<div class="form-group"></div>
     <form method="POST">
         {% csrf_token %}
         <button class=""btn btn-secondary">speichern</button>
     </form>
</div>
</form>
{% endblock %}