<style>
    .search_function{
        visibility: hidden;
    }
    h1{
        font-family: "Nunito";
        margin-left: 10%;
    }
    .profile_img img{
        margin-top: 10px;
        max-height:150px;
        max-width:150px;
    }
    .change_profile_container{
        height: 100%;
        max-width: 60%;
        margin-top: 1%;
        margin-left: 22%;
        font-family: "Nunito";
        font-size: 18px;
    }
    .change_profile_container label{
        font-weight: 800;

    }
    .change_profile_container textarea{
        padding: 5px;
        margin-top:2%;
        height: 150px;
        width: 400px;
        font-family: "Nunito";
        font-size: 16px;
        border: 2px solid rgb(239,184,147);
        border-radius: 24px 24px 24px 24px ;
    }
    .submit_btn, .reset_btn{
        width: 100px;
        height: 35px;
        background-color: rgb(255,245,238);
        border: 2px solid rgb(239,184,147);
        border-radius: 10%;
        font-family: "Nunito";
        font-size: 16px;
    }
    .change_password{
        width: 150px;
        height: 35px;
        background-color: rgb(255,245,238);
        border: 2px solid rgb(239,184,147);
        border-radius: 10%;
        font-family: "Nunito";
        font-size: 16px;
    }
</style>

{% extends 'base.html' %}
    {% block title %}Edit Profile - One Kitchen{% endblock %}

{% block content %}
<h1> Profil bearbeiten</h1>

        <div class="profile_img">
        <img src= "{{ user.profile.avatar.url }}"/>
        </div>

        <div class="change_profile_container">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p><label>Avatar ändern</label>{{ profile_form.avatar }}</p>
                <p><label>Bio:</label> {{ profile_form.bio }} </p>
            </form>

            <button class="submit_btn"type="submit">Update!</button>
            <button class="reset_btn" type="reset">Reset</button>
            <p><a href="{% url 'change_password' %}"><button class="change_password">Passwort ändern</button></a></p>
        </div>


{% endblock %}
</html>