<style>
    .home_page{
        visibility: hidden;
    }
    .welcome{
        text-align: center;
        font-family: OP;
        font-size:120px;
        transform: rotate(6deg);
        margin-top: -20px;
    }
    .welcome2{
        text-align: center;
        font-family: Castellar;
        font-size:40px;
    }
    .buttonlightgreen button{
        font-size:18px;
        padding: 20px 38px;
    }
    .buttonlightblue button{
        font-size:18px;
        padding: 20px 38px;
    }
    .navigation{
        margin-bottom: 30px
    }
    .recipes{
        margin-top: 10%;
        /*margin-left: 20%;*/
    }
    .new_recipe_img{
        width: 300px;
        height: 300px;
    }
    .recipe_img{
        width: 300px;
        height: 300px;
    }
    .random_recipe{
        border: solid black 1px;
        display:inline-block;
        background-color: #d9d2b0
    }.random_recipe2{
        position: relative;
        text-align: center;
        display:table-cell;
        padding:1px;
    }.random_recipe3{
        position: absolute;
        top: 50%;left: 50%;
        transform: translate(-50%, -50%)
    }
     .random_title{
         text-align: center;
        font-family:Castellar;
        font-size: 40px;
        margin-bottom: 0px;
    }


</style>


{% extends 'base.html' %}
{% block title %}Home - One Kitchen{% endblock %}

{% block content %}
    <div>
        <ul class="welcome2">Willkommen auf</ul>
        <ul class="welcome">One Kitchen</ul>
    </div>

    <div>
        <ul class="random_title">Random Rezept</ul>
        <div class="random_recipe">
            <div id="random-div" class="random_recipe2">
                {% for recipe in recipes %}
                 {% if recipe.title == random_recipe.title %}
                <a href="{% url 'recipe' recipe.pk %}"><img src="{{recipe.image.url}}"style="max-height:200px; max-width:200px;border: solid black 2px"></a>
                <div class="random_recipe3"><a href="{%  url 'recipe' recipe.pk %}"style="font-family:impact;font-size: 25px;color:white; text-decoration: none;-webkit-text-stroke-width: 1px;-webkit-text-stroke-color: black;">{{ random_recipe }}</a></div>
                   {%  endif %}
                {% endfor %}
            </div>
        </div>
        <div>
            <button id="random-button" type=submit class="buttonsmall buttonlightblue">Würfeln!</button>
        </div>

    </div>
{% endblock %}
{% block add_scripts %}
<script>
    const randomBtn = document.getElementById('random-button')
    randomBtn.addEventListener('click', new_random)

    function updateDiv()
{
    $( "#random-div" ).load(window.location.href + " #random-div" );
    }
    function new_random() {
        const randomD = document.getElementById('random-div');
        fetch('/random_recipe').then((response) => {
            console.error("hi");
            if (!response.ok){
                throw new Error('Loading failed');

            }
            else {
                return response.text()
            }
        }).then((random) => {
            console.error(random);
                randomD.innerHTML = randomD.innerHTML.replace(/random_recipe.title/g,random);
                updateDiv();
        }).catch(error => {
            console.error(error);
    })

    }



</script>

{% endblock %}
