{% extends 'base.html' %}

{% block content %}

{%  if user.is_authenticated %} <!--- wenn user eingeloggt --->
    <div style="text-align: center">
    <p><button type="button"><a href="{% url 'logout_url' %}">Logout</a></button></p>
    <p><button type="button"><a href="{% url 'admin:index' %}">Admin Panel</a></button></p>
    <p><button type="button"><a href="{% url 'favorites' %}">Favoriten</a></button></p>

    </div>
{% else %}
    <div style="text-align: center">
    <p><button type="button"><a href="{% url 'login_url' %}">Login</a></button></p>
    <p><button type="button"><a href="{% url 'register_url' %}">Registrieren</a></button></p>
    </div>
{% endif %}

<h1 style="text-align: center;font-family: OP; font-size:120px; transform: rotate(0deg); ">One Kitchen</h1>
    {%  if user.is_authenticated %}
    <p style="font-size:50px; text-align: center; margin-top: 30px"> Hallo, {{ user.username }}.</p>
    {% endif %}
    <div style="text-align: center"><a href="{% url 'upload' %}"><img src="/media/dinner-recipes.png"width="300" height="300"></a>
    <a href="{% url 'rezepte' %}"><img src="/media/rezepte.png"width="300" height="300"></a></div>

{% endblock %}

</html>