{% extends 'base.html' %}
    {% block title %}Rezepte{% endblock %}


    {% block style %}
        @font-face { font-family: "OP"; src: url("../static/OP.ttf")}
        body{
            background-color: antiquewhite;
        }
    {% endblock %}

{% block content %}

<h1 style="font-size:100px; font-family: OP; text-align: center">Alle Rezepte</h1>

<h1 style="font-size: 40px">Nach Kategorie</h1>

{% for category in categories %}     <!--- alle vorhandenen kategorieren werden durchlaufen und angezeigt + klickbar --->
    <li style="list-style-type:none;font-size: 30px;"><a href="{%  url 'category' category.name %}">{{ category.name }}</a></li>
{% endfor %}

{% endblock %}
</html>