<style>

 .recipes_container{
     margin-top:5%;
     font-size: 20px;
     font-family: "Nunito";
 }
 .recipes_container span{
     font-weight: 800;
 }
 h1{
     font-family: "Nunito";
     font-size: 45px;
     font-weight: 500;
     margin-left: 10%;
 }
 .recipe_img{
     height: 250px;
     width: 250px;
 }
 a{
     text-decoration: none;
     color: black;
 }
</style>

{% extends 'base.html' %}
{% block content %}
    <br>

    {%  if searched %}
        <h1>Ergebnisse für: {{ searched }}</h1>
        <div  class="recipes_container">
         {% for recipe in recipes %}
           <p>
              <a href="{%   url 'recipe' recipe.pk %}"><img src= "{{ recipe.image.url}}" class="recipe_img"/><br/></a>
              <a href="{%  url 'recipe' recipe.pk %}"><span>{{ recipe.title }}</span><br/></a>
              von {{ recipe.author }}
           </p>
         {% endfor %}
        </div>

    {% else %}
        <h1>keine Ergebnisse</h1>
    {% endif %}

{%  endblock %}