<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neues Rezept</title>
</head>
<body>
    <p><button type="button"><a href="{% url 'overview' %}">Startseite</a></button></p>
    <h1 style="margin-top:40px">Neues Rezept hochladen</h1>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p style="font-size: 20px;font-weight: bold;margin-top:100px">
       Ersteller: {{ user.username }}
        <hr style="height:1px;width:25%;color:black;background-color:black;margin-left:0;">
    </p>
    {% for field in form %}
    {% if field.name == 'author' %}
        {{ field.as_hidden }}
     {% elif field.name == 'comment' %}
        {{ field.as_hidden }}
     {% else %}
                                          <!--- alle felder werden angezeigt außer author(wird automatisch gespeichert) --->
            <p style="font-size: 20px;font-weight: bold">
               {{ field.label }}
            </p>
                {{ field }}
         <hr style="height:1px;width:25%;color:black;background-color:black;margin-left:0;">

     {% endif %}
    {% endfor %}
     <p><button type="submit">Hochladen</button></p>
</form>

</body>
</html>